{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <h4>CFPL - Language Specification</h4>
    <br>
    <form action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="input">Input:</label>
            <input type="text" name="inputs" value="{{request.POST.inputs}}" size="40" />
        </div>
        <div class="form-group">
            <label for="source_code">Source Code:</label>
            <br>
            <textarea name="source_code" style="resize: none;word-wrap: break-word;" cols="60" rows="20">{{request.POST.source_code}}</textarea>
            <textarea name="tokens" style="resize: none;" cols="80" rows="20" readonly>
Tokens:
{% if tokens|length > 0 %}[ {% for token in tokens %}{{ token }}{% if not forloop.last %}{{ " | " }}{% endif %}{% endfor %} ]{% endif %}

{% if errors|length == 0 %}No error was found.{% elif errors|length == 1 %}1 error was found:{% else %}{{ errors|length }} errors were found:{% endif %}
{% if errors|length > 0 %}{% for error in errors %}{{ error }}{% endfor %}{% endif %}

Output:
{{ output }}
            </textarea>
        </div>
        <p><button type="submit" class="btn btn-info" style="width: 100px;">Run</button></p>
    </form>
</div>
{% endblock %}